@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  height: 99vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
  padding: 0px;

  #react-application {
    height: inherit;
    width: inherit;
    padding: 0px;

    .ai-simulator {
      height: calc(100% - 48px);
      width: inherit;

      .content {
        height: 100%;
        width: inherit;
        display: flex;
        flex-direction: row;

        .left-panel {
          height: inherit;
          width: 80%;
          max-width: calc(100% - 425px);
          display: inherit;
          flex-direction: column;
          justify-content: center;
          align-content: center;

          canvas {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }
        }

        .right-panel {
          height: inherit;
          width: 20%;
          min-width: 425px;
          display: inherit;
          flex-direction: column;
          justify-content: flex-start;
          align-content: center;
          padding-bottom: 0.1rem;

          .data-table {
            height: inherit;
            width: 97%;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            overflow: scroll;

          }
        }
      }
    }

    .about {
      .title {
        text-align: center;
        text-transform: uppercase;
        padding-top: 20px;
      }
    }
  }
  footer {
    padding: 10px;
    display: flex;
    flex-direction: row;

    .logo {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.about {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .intro {
    height: 25rem;
    background-image: url("/images/background_vein.jpg");
    background-position:  center center;
  	background-size: cover;
    margin-bottom: 3rem;

    p {
      position: relative;
      float: left;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: 13%;
      padding-right: 13%;
      text-align: center;
      color: white;
      font-size: 150%;
      text-shadow: 2px 2px black;
    }

  }

  .header {
    padding-top: 50px;
    text-align: center;
    color: #24478f;
    font-weight: bold;
    font-size: 200%;
  }

  .video {
    text-align: center;
  }

  .container {
    display: block;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 1024px; /* Will be AT MOST 20em wide */

    .subheader {
      font-size: 120%;
    }

    .topics {
      text-decoration: underline;
      font-style: italic;
    }

    p {
      font-family: 'Open Sans', sans-serif;
    }

    .credits {
      text-align: center;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto
    }
  }

}
